html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font: normal 1rem/1.5 'Open Sans', sans-serif;
	color: #333;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

main {
	flex: 1;
}

a {
	cursor: pointer;
	color: #00aeff;
	text-decoration: none;
	word-wrap: break-word;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

hr {
	box-sizing: content-box;
	width: 100%;
	height: 0;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
	overflow: visible;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

table {
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	overflow: auto;
}

tr {
	border-top: 1px solid #c6cbd1;
}

th {
	font-weight: 600;
}

th, td {
	border: 1px solid #dfe2e5;
	text-align: center;
	padding: 5px 14px;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

::placeholder {
	font-size: 15px;
	color: #aaa;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button:disabled, input:disabled, optgroup:disabled, select:disabled, textarea:disabled {
	color: #444446;
	opacity: 0.5;
}

button {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	height: 40px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
}

button:not(:disabled) {
	cursor: pointer;
}

input, select {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	height: 40px;
}

select {
	padding-right: 22px;
	min-width: 200px;
}

/* Checkbox */

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	line-height: 24px;
	user-select: none;
	cursor: pointer;
}

input[type="checkbox"] + label:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ececec;
	border: 1px solid #a6a6a6;
	border-radius: 3px;
}

input[type="checkbox"] + label:after {
	content: '';
	box-sizing: content-box;
	width: 5px;
	height: 10px;
	position: absolute;
	top: 4px;
	left: 8px;
	border: solid #424242;
	border-width: 0 3px 3px 0;
	transition: all 0.2s ease;
}

input[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0) rotate(45deg);
}

input[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1) rotate(45deg);
}

/* Radio button */

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	line-height: 24px;
	user-select: none;
	cursor: pointer;
}

input[type="radio"] + label:before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ececec;
	border: 1px solid #a6a6a6;
	border-radius: 100%;
}

input[type="radio"] + label:after {
	content: '';
	box-sizing: content-box;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: #686868;
	border-radius: 100%;
	transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}

input[type="radio"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}