/* NOT FOUND PAGE (404) */

.error-page {
	font-family: 'Open Sans';
	text-align: center;
	padding: 50px;
}

.error-header {
	font-weight: 600;
	font-size: 24px;
	margin: 20px 0 0;
}

.error-type {
	font-weight: 700;
	font-size: 145px;
	color: #222;
}

.error-text {
	font-weight: 300;
	font-size: 24px;
}


/* GENERAL */

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}


/* HEADER */

.page-header {
	background-color: #222;
}

.page-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.page-header a {
	color: #fff;
}

.logo {
	font-weight: 800;
	font-size: 1.8rem;
	line-height: 1;
	letter-spacing: -0.05em;
}

.logo:hover {
	text-decoration: none;
}

.page-nav a {
	/*font-weight: bold;*/
	margin-left: 32px;
}


/* MAIN */

.page-main {
	
}

.page-main .container {
	
}


/* FOOTER */

.page-footer {
	
}

.page-footer .container {
	
}